.pixel-img {
    font-size: 1px;
    height: 1px;
    width: 1px;

    box-shadow:
        1em 0em 0 #848483,
        2em 0em 0 #c6c6c3,
        3em 0em 0 #dbdcdb,
        4em 0em 0 #d7d9d9,
        5em 0em 0 #d5d7d7,
        6em 0em 0 #d5d7d7,
        7em 0em 0 #d9dbdb,
        8em 0em 0 #d4d6d7,
        9em 0em 0 #a7a8a7,

        /* Line 1 */
        0em 1em 0 #868686,
        1em 1em 0 #b7b7b8,
        2em 1em 0 #c2c2c2,
        3em 1em 0 #d2d2cf,
        4em 1em 0 #e1e3e2,
        5em 1em 0 #e1e3e3,
        6em 1em 0 #dfe1e1,
        7em 1em 0 #e0e2e2,
        8em 1em 0 #e0e2e2,
        9em 1em 0 #d1d1ce,
        10em 1em 0 #a0a1a1,

        /* Line 2 */
        0em 2em 0 #cdcdcb,
        1em 2em 0 #c4c4c4,
        2em 2em 0 #bcbcbd,
        3em 2em 0 #bdbdbc,
        4em 2em 0 #d0d0ce,
        5em 2em 0 #e1e3e1,
        6em 2em 0 #e2e4e5,
        7em 2em 0 #dee0e0,
        8em 2em 0 #d6d6d3,
        9em 2em 0 #d3d3d0,
        10em 2em 0 #bebebe,

        /* Line 3 */
        0em 3em 0 #bdbdbd,
        1em 3em 0 #d3d3d0,
        2em 3em 0 #d1d1ce,
        3em 3em 0 #bfbfbf,
        4em 3em 0 #bebebd,
        5em 3em 0 #d0d0ce,
        6em 3em 0 #e0e2e2,
        7em 3em 0 #e3e5e5,
        8em 3em 0 #d3d3d0,
        9em 3em 0 #bebebd,
        10em 3em 0 #a8a9a9,

        /* Line 4 */
        0em 4em 0 #b7b7b7,
        1em 4em 0 #d2d2ce,
        2em 4em 0 #d5d5d1,
        3em 4em 0 #d2d2cf,
        4em 4em 0 #cdcdcb,
        5em 4em 0 #c1c1bf,
        6em 4em 0 #d5d5d3,
        7em 4em 0 #e0e1e1,
        8em 4em 0 #c2c2c2,
        9em 4em 0 #ababac,
        10em 4em 0 #a7a9aa,

        /* Line 5 */
        0em 5em 0 #b6b6b6,
        1em 5em 0 #c1c1c1,
        2em 5em 0 #d3d3cf,
        3em 5em 0 #d5d5d1,
        4em 5em 0 #d3d3d0,
        5em 5em 0 #d2d2cf,
        6em 5em 0 #d3d2cf,
        7em 5em 0 #bfbfbf,
        8em 5em 0 #a9aaab,
        9em 5em 0 #a5a7a8,
        10em 5em 0 #8e9090,

        /* Line 6 */
        0em 6em 0 #b6b6b6,
        1em 6em 0 #bfbfbf,
        2em 6em 0 #d0d0cd,
        3em 6em 0 #d3d3d0,
        4em 6em 0 #d5d5d1,
        5em 6em 0 #d5d4d2,
        6em 6em 0 #c0bfbf,
        7em 6em 0 #a7a8a9,
        8em 6em 0 #959898,
        9em 6em 0 #8c8f8e,

        /* Line 7 */
        0em 7em 0 #b7b7b7,
        1em 7em 0 #bebebe,
        2em 7em 0 #c1c1c1,
        3em 7em 0 #d4d3d0,
        4em 7em 0 #d5d5d2,
        5em 7em 0 #bfbfbf,
        6em 7em 0 #aaabac,
        7em 7em 0 #adaeaf,
        8em 7em 0 #afb0b0,
        9em 7em 0 #888988,

        /* Line 8 */
        0em 8em 0 #b7b7b7,
        1em 8em 0 #bebebe,
        2em 8em 0 #bebebf,
        3em 8em 0 #d1d1ce,
        4em 8em 0 #c3c3c2,
        5em 8em 0 #b0b1b1,
        6em 8em 0 #afb1b1,
        7em 8em 0 #bdbdbd,
        8em 8em 0 #c4c4c4,
        9em 8em 0 #b8b8b8,
        10em 8em 0 #838383,

        /* Line 9 */
        0em 9em 0 #b7b7b7,
        1em 9em 0 #bebebe,
        2em 9em 0 #c1c0c0,
        3em 9em 0 #bebfbf,
        4em 9em 0 #aaabac,
        5em 9em 0 #adaeae,
        6em 9em 0 #b4b5b5,
        7em 9em 0 #b5b5b5,
        8em 9em 0 #b3b4b4,
        9em 9em 0 #b5b6b6,
        10em 9em 0 #afb0b0,

        /* Line 10 */
        0em 10em 0 #b4b4b4,
        1em 10em 0 #c3c3c2,
        2em 10em 0 #d3d3d0,
        3em 10em 0 #acadae,
        4em 10em 0 #929696,
        5em 10em 0 #979a99,
        6em 10em 0 #a8a9a9,
        7em 10em 0 #acacae,
        8em 10em 0 #adaeaf,
        9em 10em 0 #acadae,
        10em 10em 0 #a7a8a9,

        /* Line 11 */
        0em 11em 0 #bbbbbb,
        1em 11em 0 #d7d7d5,
        2em 11em 0 #dcdedd,
        3em 11em 0 #9c9d9d,
        4em 11em 0 #909393,
        5em 11em 0 #939695,
        6em 11em 0 #8c8c8c,
        7em 11em 0 #959797,
        8em 11em 0 #a8a9aa,
        9em 11em 0 #acadaf,
        10em 11em 0 #a6a7a8,

        /* Line 12 */
        0em 12em 0 #d2d2d0,
        1em 12em 0 #e6e7e7,
        2em 12em 0 #c4c5c5,
        3em 12em 0 #969797,
        4em 12em 0 #949696,
        5em 12em 0 #989a9a,
        6em 12em 0 #939595,
        7em 12em 0 #898a8a,
        8em 12em 0 #898989,
        9em 12em 0 #979999,
        10em 12em 0 #a9aaab,

        /* Line 13 */
        0em 13em 0 #959797,
        1em 13em 0 #d8dadb,
        2em 13em 0 #b5b5b5,
        3em 13em 0 #959797,
        4em 13em 0 #959797,
        5em 13em 0 #979999,
        6em 13em 0 #999b9b,
        7em 13em 0 #959696,
        8em 13em 0 #898989,
        9em 13em 0 #888888,
        10em 13em 0 #828282,

        /* Line 14 */
        1em 14em 0 #8e9090,
        2em 14em 0 #929494,
        3em 14em 0 #919393,
        4em 14em 0 #919393,
        5em 14em 0 #919393,
        6em 14em 0 #919393,
        7em 14em 0 #939595,
        8em 14em 0 #909292,
        9em 14em 0 #7f7f7f
}